# OOP

In [31]:
from dataclasses import dataclass
from datetime import datetime, date

## class written with @dataclass
NB: see also external library pydantic

In [4]:
@dataclass
class City:
    name: str
    population: int

c = City('Toulouse', 477_000)
print(c.__dict__)
c

{'name': 'Toulouse', 'population': 477000}

City(name='Toulouse', population=477000)

In [5]:
c2 = City(name='Pau', population=77_000)

In [6]:
c2.name

'Pau'

In [7]:
assert isinstance(c, City)
assert isinstance(c, object)

## classic Class development

In [9]:
class Person:
    def __init__(self, firstname, lastname):
        self.firstname = firstname
        self.lastname = lastname

    # impl both str and repr
    def __repr__(self):
        return f"Person({self.firstname}, {self.lastname})"

p = Person('John', 'Doe')
print(p)
p

Person(John, Doe)

Person(John, Doe)

In [10]:
p.firstname

'John'

In [11]:
assert isinstance(p, Person)
assert isinstance(p, object)

In [12]:
object = object()
print = 4

In [13]:
object

In [14]:
# print(object)

In [15]:
del object
del print

In [16]:
object

object

In [17]:
print

## class methods

In [33]:
str.mro()

[str, object]

In [45]:
# constructor
dt1 = datetime(2024, 12, 12, 17)

# class method
dt2 = datetime.now()
dt3 = datetime.fromisoformat('2024-02-29 12:30:25')
dt4 = datetime.strptime('29/02/2024 12:30', '%d/%m/%Y %H:%M')

for dt in dt1, dt2, dt3, dt4:
    print(dt)

2024-12-12 17:00:00
2024-12-10 11:35:24.422310
2024-02-29 12:30:25
2024-02-29 12:30:00

## dynamic add/remove attributes

In [3]:
class Person:
    def __init__(self, name: str):
        self.name = name

In [5]:
p = Person('titi')
p.name

'titi'

In [7]:
p.city = 'Toulouse'
p.name, p.city

('titi', 'Toulouse')

In [9]:
del p.city

In [13]:
## AttributeError: 'Person' object has no attribute 'city'
# p.city

In [15]:
del p.name

In [19]:
## AttributeError: 'Person' object has no attribute 'name'
# p.name

In [21]:
class Person:
    __slots__ = ['name']
    
    def __init__(self, name: str):
        self.name = name

In [27]:
p = Person('toto')

## dynamic add is not possible
# AttributeError: 'Person' object has no attribute 'city'
## p.city = 'Toulouse'

## stiil possible
del p.name

In [35]:
@dataclass(slots=True)
class Person:
    name: str

In [39]:
p = Person('tutu')

## NB: slots=True blocks new attributes
## AttributeError: 'Person' object has no attribute 'city'
#p.city = 'Toulouse'

del p.name

In [53]:
class Person:
    __slots__ = ['_name']
    
    def __init__(self, name:str):
        self._name = name

    @property
    def name(self):
        """name of the person"""
        return self._name

    @name.setter
    def name(self, value):
        self._name = value

    # @name.deleter
    # def name(self):
    #     del self._name

In [61]:
p = Person('tutu')

## NB: slots=True blocks new attributes
## AttributeError: 'Person' object has no attribute 'city'
# p.city = 'Toulouse'

## AttributeError: property 'name' of 'Person' object has no deleter
# del p.name

print(p.name)
p.name = 'titi'
print(p.name)

tutu
titi